@use 'sass:map';
@use '@angular/material' as mat;

$_palettes: (
  primary: (
    0: #000000,
    10: #002b31,
    20: #00424a,
    25: #004c55,
    30: #005a63,
    35: #00656e,
    40: #006d77,
    50: #238690,
    60: #3ea0aa,
    70: #5cbac5,
    80: #7fd4df,
    90: #a9ecf4,
    95: #d0f6f9,
    98: #e5fafc,
    99: #f2fcfd,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #18104f,
    20: #2d2864,
    25: #383370,
    30: #443f7c,
    35: #504b89,
    40: #5c5796,
    50: #7570b1,
    60: #8f89cc,
    70: #a9a4e9,
    80: #c5c0ff,
    90: #e4dfff,
    95: #f3eeff,
    98: #fcf8ff,
    99: #fffbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #380037,
    20: #5b005a,
    25: #6e006d,
    30: #810080,
    35: #90188d,
    40: #9f299a,
    50: #bc46b6,
    60: #db61d2,
    70: #fa7cee,
    80: #ffabf2,
    90: #ffd7f5,
    95: #ffebf7,
    98: #fff7f9,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1c1b23,
    20: #312f39,
    25: #3c3a44,
    30: #474550,
    35: #53515b,
    40: #5f5d68,
    50: #787681,
    60: #928f9b,
    70: #ada9b5,
    80: #c8c5d1,
    90: #e5e0ed,
    95: #f3effc,
    98: #fcf8ff,
    99: #fffbff,
    100: #ffffff,
    4: #0e0d16,
    6: #13121b,
    12: #201f28,
    17: #2a2932,
    22: #35343d,
    24: #393842,
    87: #dcd8e5,
    92: #eae6f3,
    94: #f0ecf9,
    96: #f6f2fe,
  ),
  neutral-variant: (
    0: #000000,
    10: #1b1a28,
    20: #302f3d,
    25: #3b3a49,
    30: #474555,
    35: #535161,
    40: #5f5c6d,
    50: #787586,
    60: #928fa0,
    70: #aca9bb,
    80: #c8c4d7,
    90: #e4e0f4,
    95: #f3eeff,
    98: #fcf8ff,
    99: #fffbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);
